<div class="content-container center">
  <div class="form-content" *ngIf="!loading">
    <h1>Magazine Search</h1>
    <mat-form-field style="width: 100%">
      <input [(ngModel)]="searchQuery" matInput placeholder="Suchbegriff" (keyup.enter)="startSearch()">
      <button *ngIf="!translating" mat-icon-button matSuffix [matMenuTriggerFor]="menu">
        <mat-icon>g_translate</mat-icon>
      </button>
      <mat-spinner *ngIf="translating" diameter="20" matSuffix></mat-spinner>
    </mat-form-field>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let language of yumpuService.languages" (click)="translate(language)">{{language.name}}</button>
    </mat-menu>
    <mat-form-field style="width: 100%">
      <mat-select placeholder="Sprache" [(ngModel)]="selectedLanguage">
        <mat-option *ngFor="let language of yumpuService.languages" [value]="language">{{language.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="startSearch()">
      Starten
      <mat-icon style="padding-left: 10px">search</mat-icon>
    </button>
    <div>
      <button mat-button>
        Advanced options
      </button>
    </div>
  </div>
  <div *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
