.row {
  margin: 0 !important
}

.mat-card-header-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

img {
  transition: width 300ms, height 300ms;
}

.marker {
  transition: all 300ms;
  cursor: pointer;
  color: white;
  padding: 5px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0);
  border-radius: 50%;
  background: #3f51b5;
  margin: 7px;
}

.bottom-bar {
  transition: all 300ms;
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999999;
  background: #323232;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  transform: translateY(50px);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

button {
  transition: all 300ms;
}

.selected-img {
  width: 80% !important;
  height: 80% !important;
}

.selected-marker {
  transform: scale(1) !important;
  opacity: 1 !important;
}

.active-fab {
  transform: translateY(-50px)
}

.active-bar {
  transform: translateY(0px) !important
}

.spinner-container {
  margin-top: 20px;
  margin-bottom: 20px
}

.more-button {
  margin-bottom: 70px;
  margin-top: 40px
}

.result-title {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-subtitle {
  font-size: 12px;
  color: #b8b8b8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-card {
  padding: 7px 15px 7px 15px !important;
  margin-bottom: 0
}

.result-image-container {
  cursor: pointer;
  height: 250px;
  background: gray
}

.result-image {
  object-fit: contain;
  overflow: hidden
}
