<div class="content-container">
  <div class="bottom-bar" [ngClass]="{'active-bar': helperFunctions.checkEmpty(selectedMagazines)}">
    <div class="row full-height">
      <div class="col-xs-6 full-height">
        <div class="full-height center-vertical">
          <button mat-button class="toolbar-icon" (click)="selectedMagazines = {}">
            ({{ selectedMagazinesCount }}) Alles abwählen
          </button>
        </div>
      </div>
      <div class="col-xs-6 full-height">
        <div class="full-height center-vertical">
          <button mat-button class="toolbar-icon" style="margin-left: auto" (click)="done()">
            Fertig!
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let result of yumpuService.currentSearchResult" class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="padding: 15px">
      <mat-card class="no-padding">
        <mat-card-content (click)="selectMagazine(result)" class="center result-image-container">
          <img [@enterAnimation] [src]="result.image" [ngClass]="{'selected-img': selectedMagazines[result.id]}" class="full-height-width result-image">
        </mat-card-content>
        <mat-card-content class="result-card">
          <div class="unselectable result-title">{{result.title}}</div>
          <div class="unselectable result-subtitle">
            Tags:
            <span *ngFor="let tag of result.tags">{{tag}}, </span>
          </div>
          <mat-icon (click)="selectMagazine(result)" class="marker unselectable" [ngClass]="{'selected-marker': selectedMagazines[result.id]}">
            checkmark
          </mat-icon>
        </mat-card-content>
        <mat-card-actions class="no-padding no-side-margin">
          <button mat-button (click)="openMagazine(result)">Ansehen</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div *ngIf="loading" class="center spinner-container">
    <mat-spinner [@enterAnimation]></mat-spinner>
  </div>
  <div class="center more-button">
    <button mat-raised-button (click)="continueSearch()" color="primary" *ngIf="yumpuService.currentSearchResult.length % 50 == 0">Mehr</button>
  </div>
</div>
